XTerm.termName: xterm-256color
XTerm*loginShell: true
XTerm*metaSendsEscape: true
XTerm*saveLines: 4096
XTerm*reverseVideo: true
XTerm*faceName: DejaVu Sans Mono
XTerm*renderFont: true
XTerm*faceSize: 14
XTerm*translations: #override \n\
	<Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
	Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
