* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "FiraCode Nerd Font Mono", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    /*background-color: rgba(43, 48, 59, 0.5);*/
    /*background-color: rgba(48, 48, 48, 1);*/
		background-color: #36454f;
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    /*border-top: 3px solid rgba(100, 100, 100, 1);*/
    border-top: 3px solid #536878;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}
*/

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #536878;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #536878;
    border-bottom: 3px solid #ffffff;
    border-top: 3px solid rgba(100, 100, 100, 1);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 5px;
    margin: 0 4px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#network.wifi {
    border-top: 3px solid rgba(100, 100, 100, 1);
    color: #468B4F;
		font-size: 16pt;
}
#network.disconnected {
    border-top: 3px solid rgba(100, 100, 100, 1);
    background-color: #f53c3c;
		font-size: 16pt;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#language {
    background: #00b093;
    border-top: 3px solid rgba(100, 100, 100, 1);
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}
